:root {
  --primary-color: #557b83;
  --secondary-color: #39aea9;
  --tertiary-color: #b0efeb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555;
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--secondary-color);
}
.form-input {
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: #fff;
  outline: none;
  width: 25rem;
  height: 2.2rem;
}
.form-input::placeholder {
  outline: none;
  /* background-color: var(--primary-color); */
}
.form-input:focus {
  outline: none;
}

.button-search {
  padding: 0.3rem;
  margin-left: 1rem;
  font-family: inherit;
  background-color: var(--secondary-color);
  outline: none;
  border-radius: 10px;
  width: 5rem;
  cursor: pointer;
  border: 3px solid var(--primary-color);
  color: var(--tertiary-color);
  font-size: 1rem;
}

.button-score {
  padding: 0.5rem;
  margin-left: 18rem;
  font-family: inherit;
  background-color: var(--secondary-color);
  outline: none;
  border-radius: 10px;
  width: 10rem;
  cursor: pointer;
  border: 3px solid var(--primary-color);
  color: var(--tertiary-color);
  font-size: 1rem;
  align-self: flex-end;
}

.movie-section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  width: 100%;
}

.heading {
  margin-bottom: 5rem;
  color: var(--tertiary-color);
  font-size: 4.6rem;
}
.heading-secondary {
  margin-bottom: 4rem;
  color: var(--tertiary-color);
  font-size: 2.8rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movies img {
  width: 100%;
}
.movies {
  width: 20rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.movie {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.overview {
  background-color: #fff;
}

.movie-grade {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}
.green {
  color: lightgreen;
}
.orange {
  color: orange;
}

.red {
  color: rgb(146, 28, 19);
}
.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 3s ease-in;
}
.movies:hover .overview {
  transform: translateY(0);
}
